.main {
  background-image: url(../../assets/images/background.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(95, 112, 211, 0.29);
}
